/* @import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap'); */
@font-face {
  font-family: invasion;
  src: url('./font/INVASION2000.TTF');
}

* {
  color: rgb(255, 255, 255, 0.9);
  font-family: 'invasion', cursive;
}

* {
  box-sizing: border-box;
}



body {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: black;
  background-image: url(./img/bg.gif);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  transition: 3s ease;
}

.bg-play {
  background-image: url(./img/bg-play.jpg);
  transition: 3s ease;
}

.logo {
 opacity: 0.9;
  position: absolute;
  right: 2%;
  bottom: 1.5rem;
  width: 20rem;
}

.welcome {
  font-size: 4rem;
  position: absolute;
  left: 7%;
  line-height: 1.6;
  text-align: center;
}

.aqua {
  color: rgb(0, 255, 255, 0.9);
}


.game-scores {
  position: absolute;
  top: 25%;
  left: 12%;
}

.game-score {
  color: rgb(0, 255, 255, 0.9);
  font-size: 5rem;
}

.game-status {
  font-size: 3rem;
  position: absolute;
  top: 25%;
  left: 5%;
}


.nav {
  position: absolute;
  top: 10%;
  right: 3%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 20rem;
}

.current {
  line-height: .3;
  margin: 0;
  padding: 0;
  margin-bottom: .5rem;
}

.player,
.score {
  font-size: 2rem;
}

.score {
  padding-left: 2.5rem;

}

.highscore {
  text-align: center;
  line-height: .1;
  margin: 0;
  padding: 0;
  margin-bottom: .5rem;
}


.high-top {
  font-size: 1.5rem;
}

.high {
  font-size: 1.8rem;
}

.ready {
  display: block;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  top: 18rem;
  width: 6rem;
}

.screen {
  /* background-color: rgb(0, 0, 0, 0.8); */
  width: 28rem;
}

.game {
  display: flex;
  flex-wrap: wrap;
  width: 28rem;
  height: 31rem;
  background-image: url(./img/bg.png);
  background-color: rgb(0, 0, 0, 0.5);
  background-repeat: no-repeat;
  background-size: contain;
}

.cell {
  font-size: 10px;
  width: 1rem;
  height: 1rem;
}

.pac-full {
  background-image: url(./img/pac-full.gif);
  background-repeat: no-repeat;
  background-size: contain;
}

.pac-left {
  background-image: url(./img/pac-left.gif);
  background-repeat: no-repeat;
  background-size: contain;
}

.pac-right {
  background-image: url(./img/pac-right.gif);
  background-repeat: no-repeat;
  background-size: contain;
}

.pac-up {
  background-image: url(./img/pac-up.gif);
  background-repeat: no-repeat;
  background-size: contain;
}

.pac-down {
  background-image: url(./img/pac-down.gif);
  background-repeat: no-repeat;
  background-size: contain;
}


.red {
  background-image: url(./img/red.png) !important;
  background-repeat: no-repeat !important;
  background-size: contain !important;
}

.pink {
  background-image: url(./img/pink.png) !important;
  background-repeat: no-repeat !important;
  background-size: contain !important;
}

.cyan {
  background-image: url(./img/cyan.png) !important;
  background-repeat: no-repeat !important;
  background-size: contain !important;
}

.orange {
  background-image: url(./img/orange.png) !important;
  background-repeat: no-repeat !important;
  background-size: contain !important;
}


.ghost-scared {
  background-image: url(./img/ghost-scared.png) !important;
  background-repeat: no-repeat !important;
  background-size: contain !important;
}


.food {
  background-image: url(./img/food.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.pellet {
  background-image: url(./img/pellet.png);
  background-repeat: no-repeat;
  background-size: contain;
}




/* LOADER ANIMATION */

.loader-wrapper {
  position: fixed;
  background-color:black;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  z-index: 999;
}

.sk-folding-cube {
  top: 40vh;
  width: 50px;
  height: 50px;
  position: relative;
  -webkit-transform: rotateZ(45deg);
  transform: rotateZ(45deg);
}

.sk-folding-cube .sk-cube {
  float: left;
  width: 50%;
  height: 50%;
  position: relative;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.sk-folding-cube .sk-cube:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: yellow;
  -webkit-animation: sk-foldCubeAngle 2.4s infinite linear both;
  animation: sk-foldCubeAngle 2.4s infinite linear both;
  -webkit-transform-origin: 100% 100%;
  -ms-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
}

.sk-folding-cube .sk-cube2 {
  -webkit-transform: scale(1.1) rotateZ(90deg);
  transform: scale(1.1) rotateZ(90deg);
}

.sk-folding-cube .sk-cube3 {
  -webkit-transform: scale(1.1) rotateZ(180deg);
  transform: scale(1.1) rotateZ(180deg);
}

.sk-folding-cube .sk-cube4 {
  -webkit-transform: scale(1.1) rotateZ(270deg);
  transform: scale(1.1) rotateZ(270deg);
}

.sk-folding-cube .sk-cube2:before {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}

.sk-folding-cube .sk-cube3:before {
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s;
}

.sk-folding-cube .sk-cube4:before {
  -webkit-animation-delay: 0.9s;
  animation-delay: 0.9s;
}

@-webkit-keyframes sk-foldCubeAngle {

  0%,
  10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
    transform: perspective(140px) rotateX(-180deg);
    opacity: 0;
  }

  25%,
  75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
    transform: perspective(140px) rotateX(0deg);
    opacity: 1;
  }

  90%,
  100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
    transform: perspective(140px) rotateY(180deg);
    opacity: 0;
  }
}

@keyframes sk-foldCubeAngle {

  0%,
  10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
    transform: perspective(140px) rotateX(-180deg);
    opacity: 0;
  }

  25%,
  75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
    transform: perspective(140px) rotateX(0deg);
    opacity: 1;
  }

  90%,
  100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
    transform: perspective(140px) rotateY(180deg);
    opacity: 0;
  }
}

/* END LOADER ANIMATION */